<div class="col-md-12">
  <h2>Of and from</h2>
  <strong>Ex -01 (of)</strong>
  <div class="row">
    <div class="col-md-6">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong>of('Manish', 'Amit', 'Pratik')
      </p>
      <ul id="elContainer">

      </ul>
    </div>
    <div class="col-md-6">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong>of(&#123;a:'Manish', b:'Amit', c:'Pratik'&#123;)
      </p>
      <ul id="elContainer2">
        <li><strong>a:</strong>{{obsMsg.a}}</li>
        <li><strong>b:</strong>{{obsMsg.b}}</li>
        <li><strong>c:</strong>{{obsMsg.c}}</li>
      </ul>
    </div>
  </div>

  <hr/>
  <strong>Ex -02 (from)</strong>
  <div class="row">
    <div class="col-md-4">
      <strong>Array</strong>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong>from(['Manish', 'Amit', 'Pratik'])
      </p>
      <ul id="elContainer3">
        </ul>
    </div>

    <div class="col-md-4">
      <strong>Promise</strong>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong>Promise to observable
      </p>
      <ul id="elContainer4">
        </ul>
    </div>

    <div class="col-md-4">
      <strong>String</strong>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong>String to observable
      </p>
      <ul id="elContainer5">
        </ul>
    </div>
  </div>
</div>

