<div class="col-md-12">
  <h3>Map</h3>

  <div class="row">
    <div class="col-md-4">
      <strong>Ex - 01</strong>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map</strong> 'Video' + data
      </p>
      <p>Message <strong class="text-success">{{msg1}}</strong></p>
    </div>
    <div class="col-md-4">
      <strong>Ex - 02</strong>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map</strong> data => data*10
      </p>
      <p>Message <strong class="text-success">{{msg2}}</strong></p>
    </div>
    <div class="col-md-4">
      <strong>Ex - 03</strong>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map</strong> map object Data
      </p>
      <ul id="elContainer"></ul>
    </div>
  </div>
</div>

